<%= form_with(model: menu, url: '/menu/' + menu.id.to_s,local: true) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :section %>
    <%= form.text_field :section, list:"sectionlist", value: section %>
    <datalist id = "sectionlist">
      <% sections.each do |sect| %>
        <option><%= sect.name %></option>
      <% end %>
    </datalist>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
